---
layout: default
title: Bio
id: bio
current:
 - url: sfgmarketing.jpg
   company: SFG Marketing
   role: Marketing Consultant
   country: USA/Chile
   info: XX.
   link: http://sarah.cl/marketing
 - url: ncfitclub.jpg
   company: NC Fit Club
   role: Social Media Marketing Manager
   country: XX
   info: XX
   link: XX
 - url: xx.jpg
   company: XX
   role: XX
   country: Chile
   info: XX
   link: XX
past:
 - url: air802.jpg
   company: AIR802
   role: Marketing Manager
   country: Chile
   info: Manufacturer of wired and wireless networking equipmentcableadas 
   link: http://www.air802.cl
 - url: netdepot.jpg
   company: NetDepot
   role: Marketing Manager
   country: Chile
   info: Empresa de Venta de productos digitales
   link: http://www.netdepot.cl
 - url: gobee.jpg
   company: GoBee
   role: Engagement Marketing Manager
   country: Australia
   info: Practical Online Business Education for Entrepreneurs
   link: http://www.mygobee.com/
 - url: intemedio.jpg
   company: Intemedio
   role: Business Development Manager
   country: Australia/USA
   info: Customized Training Solutions For Your Business
   link: http://www.intemedio.com/
 - url: tigabytes.jpg
   company: Tigabytes
   role: Marketing Manager
   country: Chile
   info: Google Enterprise Partners
   link: http://www.tigabytes.com
 - url: founderinstitute.jpg
   company: Founder Institute
   role: Marketing Manager
   country: Chile
   info: Helping Founders to Build Great Companies
   link: http://www.fi.co
 - url: firsttuesday.jpg
   company: First Tuesday Americas
   role: Marketing Manager
   country: Chile
   info: Inter-personal networking forum for venture capitalists and entreprenuers
   link: http://www.ft.la
 - url: monki.jpg
   company: mon.ki
   role: Marketing Manager
   country: USA & Chile
   info: Discover the world with the help of your friends
   link: http://www.mon.ki/
 - url: fundacionmustakis.jpg
   company: Fundación Mustakis
   role: Social Media Consultant
   country: Chile
   info: Promotion of education, art, culture and humanities for youth
   link: http://www.fundacionmustakis.com
 - url: mozillafirefox.jpg
   company: Firefox
   role: Marketing Manager
   country: USA
   info: Mozilla Firefox, a free Web Browser.
   link: http://www.mozilla.org
 - url: mozilla.png
   company: Mozilla
   role: Marketing Manager
   country: USA
   info: Dedicated to putting individuals in control online
   link: http://www.mozilla.org
 - url: adobe.jpg
   company: Adobe
   role: Education Marketing Specialist
   country: USA
   info: Changing the world through digital experiences
   link: http://www.adobe.com
 - url: juniper.jpg
   company: Juniper Networks
   role: Marketing Manager
   country: USA
   info: Producer of high speed, reliable switching routers
   link: http://www.juniper.net  
 - url: stanford.jpg
   company: Stanford University
   role: Marketing Project Manager
   country: USA
   info: XX
   link: XX   
 - url: seagate.jpg
   company: Seagate Technology
   role: Marcom Project Manager
   country: USA
   info: XX
   link: XX   
 - url: apple.jpg
   company: Apple Inc.
   role: Higher Education Marketing
   country: USA
   info: Apple designs, develops, and sells consumer electronics, computer software and personal computers.
   link: http://www.apple.com   

other:
 - url: aidan.jpg
   title: Aidan
   info: My Fur-child
   date: 
   link: http://www.sarah.cl/aidan
 - url: chile.jpg
   title: Chile
   info: My Adopted Country
   date: 
   link: http://www.sarah.cl/chile
 - url: rod.jpg
   title: Rodrigo García Segovia
   info: My Husband
   date: 
   link: http://www.rodrigogarcia.net
---
<div id="headerWork"></div>

<div class="row">
        <div class="nine columns">
                <ul class="block-grid three-up">
      {% for pic in page.current %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workCurrent/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
          <div class="small-container-back">
            <h5>{{ pic.company }}</h5>
            <p>
                    Role: {{ pic.role }}<br />
                    Country: {{ pic.country }}<br />
                    Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
                </ul>
        </div>
        <div class="three columns text-right pullquote">
                <h3>Current</h3>
      <p>Sometimes I have to pinch myself to see if I'm still dreaming. I'm so excited to be working with some amazing companies to help make their marketing ideas a reality.</p>
        </div>
</div>

<div class="row workPadding">
        <div class="nine columns">
                <ul class="block-grid three-up">
      {% for pic in page.past %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workPast/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          </div>
          <div class="small-container-back">
            <h5>{{ pic.company }}</h5>
            <p>
                    Role: {{ pic.role }}<br />
                    Country: {{ pic.country }}<br />
                    Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
                </ul>
        </div>
        <div class="three columns text-right pullquote">
                <h3>Past</h3>
                <p>I've had a very blessed marketing career across various geographies (United States and Chile) and areas: technology marketing, community and engagement marketing, social media, marketing communications, project management and design. Here's a shortened overview, but if you want the lengthier version head on over to my <a href="http://www.linkedin.com/in/sarahfriedlander/">LinkedIn profile</a>.</p>
        </div>
</div>

<div class="row workPadding">
   <div class="nine columns">
      <ul class="block-grid three-up">
      {% for pic in page.other %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workOther/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
          <div class="small-container-back">
            <h5>{{ pic.title }}</h5>
            <p>
               <br />
               {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
      </ul>
   </div>
   <div class="three columns text-right pullquote">
      <h3>Other</h3>
      <p>While not living and breathing marketing, here are some of the other items that drive me and keep me with a big smile on my face.</p>
   </div>
</div>