<!-- ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~ -->
<div class="row">
	<hr />
	<div class="twelve rows text-center">
		<h6>Made with <a href="http://janefinette.com/"><img src="http://finette.com/images/heart.png" alt="Love"></a> in Saratoga, CA.</h6>
	</div>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~ -->

<!-- Included JS Files (Compressed) -->
<script src="http://finette.com/javascripts/jquery.js"></script>
<script src="http://finette.com/javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="http://finette.com/javascripts/app.js"></script>

<!-- ~~~~~~~~~~~~~~~~~~~~ DISQUS ~~~~~~~~~~~~~~~~~~~~ -->
<script type="text/javascript">
	var disqus_shortname = 'pfinette';
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
<!-- ~~~~~~~~~~~~~~~~~~~~ DISQUS ~~~~~~~~~~~~~~~~~~~~ -->

</body>
</html>
