---
layout: default
title: Chile
id: chile
current:
 - url: xx.jpg
   company: 
   role: 
   country: 
   info: 
   link: 

past:
 - url: xx.jpg
   company: 
   role: 
   country: 
   info: 
   link: 
   
other:
 - url: xx.jpg
   title: 
   info: 
   date: 
   link: 

---
<div id="headerChile"></div>

<div class="row">
        <div class="nine columns">
                <ul class="block-grid three-up">
      {% for pic in page.current %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/chile/workChile/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
          <div class="small-container-back">
            <h5>{{ pic.company }}</h5>
            <p>
                    {{ pic.role }}<br />
                    {{ pic.link }}<br />
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
                </ul>
        </div>
        <div class="three columns text-right pullquote">
                <h3>Current</h3>
      <p>XX.</p>
        </div>
</div>

<div class="row workPadding">
        <div class="nine columns">
                <ul class="block-grid three-up">
      {% for pic in page.past %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workPast/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          </div>
          <div class="small-container-back">
            <h5>{{ pic.company }}</h5>
            <p>
                    Role: {{ pic.role }}<br />
                    Country: {{ pic.country }}<br />
                    Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
                </ul>
        </div>
        <div class="three columns text-right pullquote">
                <h3>Past</h3>
                <p>I've had a very blessed marketing career across various geographies (United States and Chile) and areas: technology marketing, community and engagement marketing, social media, marketing communications, project management and design. Here's a shortened overview, but if you want the lengthier version head on over to my <a href="http://www.linkedin.com/in/sarahfriedlander/">LinkedIn profile</a>.</p>
        </div>
</div>

<div class="row workPadding">
   <div class="nine columns">
      <ul class="block-grid three-up">
      {% for pic in page.other %}
      <li>
        <div class="small-container">
          <div class="small-container-front">
            {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workOther/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
          <div class="small-container-back">
            <h5>{{ pic.title }}</h5>
            <p>
               Date: {{ pic.date }}<br />
               {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
      </ul>
   </div>
   <div class="three columns text-right pullquote">
      <h3>Other</h3>
      <p>While not living and breathing marketing, here are some of the other items that drive me and keep me with a big smile on my face.</p>
   </div>
</div>