/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic);

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400; }

body, p, em {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300; }

b, strong {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400; }

.pullquote h3, .pullquote h4 {
	margin-top: 0; }

/* --- HEADER --- */
#header div {
	display: table;
	margin: 45px 0; }

#header ul {
	list-style: none;
	display: table-cell; }

#header > div > a {
	vertical-align: middle;
	font-size: 36px;
	font-weight: 400;
	color: #222; }

#header > div > a:hover {
	color: #AAA; }

#header li {
	display: inline; 
	vertical-align: middle;
	padding-right: 8px;
	font-size: 17px;
	font-weight: 300; }

#header li:last-child {
	padding-right: 0; }

#header li a {
	color: #AAA; }

#header li a:hover {
	color: #222; }

#twitter a {
	display: inline-block;
	background: url(../images/twitter.png) no-repeat;
	height: 16px;
	width: 20px; }

#twitter a:hover {
	background-position: 0 -16px; }

/* -----------------------------------------
   Home
----------------------------------------- */
#home {
	background: white url(../images/bg.jpg) no-repeat center 126px;
	background-size: cover; }

#homeTag h1 {
	padding-top: 12.5%;
	text-align: center;
	font-weight: 700;
	color: #FFF; }

#homeTag hr {
	border: 4px solid #FFF;
	width: 30%;
	margin: 0 auto 17px auto; }


/* -----------------------------------------
   About
----------------------------------------- */
#headerAbout {
	height: 250px;
	background: white url(../images/headerAbout.jpg) no-repeat center top;
	margin-bottom: 25px; }

/* -----------------------------------------
   Work
----------------------------------------- */
#headerWork {
	height: 250px;
	background: white url(../images/headerWork.jpg) no-repeat center top;
	margin-bottom: 25px; }

.workPadding {
	padding-top: 75px; }

.small-container {
	width: 214px;
	height: 214px;
	border: 1px solid #DDD; }
	
.small-container img {
	filter: none;
	-webkit-filter: grayscale(0);
	opacity: 1 }

.small-container img:hover {
	filter: url(filters.svg#grayscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	opacity: 0.10; 
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out; }

.small-container div {
	margin-top: -219px;
	padding: 0 5px; }

.small-container h5 {
	margin-top: 0; }

.small-container p {
	font-size: 15px; }

/* -----------------------------------------
   Blog
----------------------------------------- */
#headerBlog {
	height: 250px;
	background: #FEC77F url(../images/headerBlog.jpg) no-repeat center top;
	margin-bottom: 25px; }

/* -----------------------------------------
   Contact
----------------------------------------- */
#headerContact {
	height: 250px;
	background: white url(../images/headerContact.jpg) no-repeat center top;
	margin-bottom: 25px; }

/* -----------------------------------------
   404
----------------------------------------- */
#header404 {
	height: 250px;
	background: white url(../images/header404.jpg) no-repeat center top;
	margin-bottom: 25px; }
