---
layout: default
title: Work
id: work
current:
 - url: thecommunityfactor.png
   company: The Community Factor
   role: Founder
   country: USA
   info: We build extraordinary communities and movements
   link: http://thecommunityfactor.com/
 - url: thecommunityalliance.png
   company: The Community Alliance
   role: Founder
   country: USA
   info: Global group driving fundamental change in business practice to include community participation
   link: http://thecommunityalliance.org/
 - url: communityhacks.png
   company: Community Hacks
   role: Founder & Organizer
   country: USA
   info: Meetup group for community leaders, organizers, and managers
   link: http://www.meetup.com/Community-Hacks/
 - url: astia.png
   company: Astia
   role: Entrepreneur in Residence
   country: USA
   info: Coaching high growth portfolio companies led by woman entrepreneurs
   link: http://www.astia.org/
---
<div id="headerWork"></div>

<div class="row">
	<div class="nine columns">
		<ul class="block-grid three-up">
      {% for pic in page.current %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/current/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.company }}</h5>
            <p>
            	Role: {{ pic.role }}<br />
            	Country: {{ pic.country }}<br />
            	Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Current</h3>
	</div>
	<hr />
</div>

<div class="row">
	<div class="nine columns">
		<ul class="block-grid three-up">
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
			<li><img src="http://placehold.it/214x214" alt="" /></li>
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Past</h3>
	</div>
	<hr />
</div>

<div class="row">
	<div class="nine columns">
		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>
		<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Other</h3>
	</div>
</div>

<hr />
<div class="text-center">
	<p> Made with <span style="color: red;">&hearts;</span> in Saratoga, CA.
</div>
