---
layout: default
title: Work
id: work
current:
 - url: thecommunityalliance.png
   company: The Community Alliance
   role: Founder
   country: USA
   info: Global group driving community participation in business
   link: http://thecommunityalliance.org/
 - url: communityhacks.png
   company: Community Hacks
   role: Founder & Organizer
   country: USA
   info: Meetup group for community leaders, organizers, and managers
   link: http://www.meetup.com/Community-Hacks/
 - url: mentorforgood.png
   company: Mentor for Good
   role: Co-Founder
   country: USA
   info: Coaching social entrepreneurs over our kitchen table
   link: http://mentorforgood.org/
 - url: thecommunityfactor.png
   company: The Community Factor
   role: Founder
   country: USA
   info: We build extraordinary communities and movements
   link: http://thecommunityfactor.com/
 - url: astia.png
   company: Astia
   role: Entrepreneur in Residence
   country: USA
   info: Coaching high growth companies led by woman entrepreneurs
   link: http://www.astia.org/
past:
 - url: gooru.png
   company: Gooru
   role: VP Engagement & Community
   country: USA
   info: Established marketing function
   link: http://www.goorulearning.org/
 - url: mozillafirefox.jpg
   company: Mozilla Firefox
   role: Director Worldwide Engagement
   country: USA
   info: Led Engagement function for all Mozilla products
   link: http://www.mozilla.org/en-US/firefox/new/
 - url: mozilla.png
   company: Mozilla
   role: Director Marketing & Community
   country: EMEA
   info: Lead Marketing and Community across 32 locales
   link: http://www.mozilla.org/en-US/firefox/new/
 - url: elektronauten.png
   company: elektronauten
   role: Founder & Managing Partner
   country: Germany & UK
   info: Interim Management & Consulting Practice
   link: http://elektronauten.de/
 - url: channeladvisor.png
   company: ChannelAdvisor
   role: Director of Int'l Expansion, Marketing and PR
   country: EMEA
   info: Multichannel eCommerce Provider
   link: http://www.channeladvisor.com/
 - url: yourart.png
   company: yourART
   role: Founder and Managing Director
   country: Germany
   info: Contemporary Art Gallery
   link:
 - url: marketworks.png
   company: Marketworks
   role: Country Manager
   country: Germany
   info: Multichannel eCommerce Provider
   link:
 - url: ebay.png
   company: eBay
   role: Business Unit Owner - Computers & Gaming/Collectables
   country: UK
   info: Online Marketplace
   link: http://www.ebay.com/
 - url: sothebys.png
   company: Sotheby's
   role: Online Marketing Executive
   country: UK
   info: Fine Art Auctioneers
   link: http://www.sothebys.com/
 - url: jungle.png
   company: Jungle.com
   role: Jungle Play - Gaming Category Manager
   country: UK
   info: eCommerce
   link:
other:
 - url: secondsight.jpg
   title: Second Sight
   info: Article "2013 Will Ignite the Year of Community Participation"
   date: January 2013
   link: http://www.secondsight.nl/trendwatchers/2013-and-beyond/
 - url: women20.png
   title: Women 2.0
   info: Article "5 Rules To Build Community Engagement For Startup Success"
   date: December 2013
   link: http://www.women2.com/5-rules-to-build-community-engagement-for-startup-success/
 - url: weownit.jpg
   title: We Own It Summit
   info: Power of Networks
   date: June 2013
   link: http://www.weownitsummit.org/
---
<div id="headerWork"></div>

<div class="row">
	<div class="nine columns">
		<ul class="block-grid three-up">
      {% for pic in page.current %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workCurrent/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.company }}</h5>
            <p>
            	Role: {{ pic.role }}<br />
            	Country: {{ pic.country }}<br />
            	Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Current</h3>
      <p>Life is full. I'm living and breathing what I care about most - empowering people to be great and make a difference.</p>
	</div>
</div>

<div class="row workPadding">
	<div class="nine columns">
		<ul class="block-grid three-up">
      {% for pic in page.past %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workPast/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.company }}</h5>
            <p>
            	Role: {{ pic.role }}<br />
            	Country: {{ pic.country }}<br />
            	Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Past</h3>
		<p>I've had a pretty eclectic career across various geographies and areas: art, tech, commerce and community. Here's a short overview, you can also check out my <a href="http://www.linkedin.com/in/janefinette/">LinkedIn profile</a> for more detail.</p>
	</div>
</div>

<div class="row workPadding">
   <div class="nine columns">
      <ul class="block-grid three-up">
      {% for pic in page.other %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/workOther/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.title }}</h5>
            <p>
               Date: {{ pic.date }}<br />
               {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
      </ul>
   </div>
   <div class="three columns text-right pullquote">
      <h3>Other</h3>
      <p>I write and speak about community, participation and force multipliers. Here's a recent selection.</p>
   </div>
</div>
