---
layout: default
title: Work
id: work
current:
 - url: thecommunityfactor.png
   company: The Community Factor
   role: Founder
   country: USA
   info: We build extraordinary communities and movements
   link: http://thecommunityfactor.com/
 - url: thecommunityalliance.png
   company: The Community Alliance
   role: Founder
   country: USA
   info: Global group driving fundamental change in business practice to include community participation
   link: http://thecommunityalliance.org/
 - url: communityhacks.png
   company: Community Hacks
   role: Founder & Organizer
   country: USA
   info: Meetup group for community leaders, organizers, and managers
   link: http://www.meetup.com/Community-Hacks/
 - url: astia.png
   company: Astia
   role: Entrepreneur in Residence
   country: USA
   info: Coaching high growth portfolio companies led by woman entrepreneurs
   link: http://www.astia.org/
 - url: mentorforgood.png
   company: Mentor for Good
   role: Co-Founder
   country: USA
   info: Coaching social entrepreneurs over our kitchen table
   link: http://mentorforgood.org/
past:
 - url: mozillafirefox.png
   company: Mozilla Firefox
   role: Director Worldwide User Engagement
   country: USA
   info: Led the User Engagement function for Mozilla products worldwide
   link: http://www.mozilla.org/en-US/firefox/new/
 - url: mozilla.png
   company: Mozilla
   role: Director European Marketing & Community
   country: Europe
   info: Built and managed Mozilla European marketing and community across 32 locales
   link: http://www.mozilla.org/en-US/firefox/new/
 - url: elektronauten.png
   company: elektronauten
   role: Founder & Managing Partner
   country: Germany & UK
   info: Interim Management & Consulting Practice
   link: http://elektronauten.de/
 - url: channeladvisor.png
   company: ChannelAdvisor
   role: Director of International Marketing, PR and Expansion
   country: EMEA
   info: Multichannel eCommerce Provider
   link: http://www.channeladvisor.com/
 - url: yourart.png
   company: yourART
   role: Founder and Managing Director
   country: Germany
   info: Contemporary Art Gallery
   link: 
 - url: marketworks.png
   company: Marketworks
   role: Country Manager
   country: Germany
   info: Multichannel eCommerce Provider
   link: 
 - url: ebay.png
   company: eBay
   role: Business Unit Owner - Computers & Gaming/Collectables
   country: UK
   info: Online Marketplace
   link: http://www.ebay.com/
 - url: sothebys.png
   company: Sotheby's
   role: Online Marketing Executive
   country: UK
   info: Fine Art Auctioneers
   link: http://www.sothebys.com/
 - url: jungle.png
   company: Jungle.com
   role: Jungle Play - Gaming Category Manager
   country: UK
   info: eCommerce
   link: 
---
<div id="headerWork"></div>

<div class="row">
	<div class="nine columns">
		<ul class="block-grid three-up">
      {% for pic in page.current %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/current/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.company }}</h5>
            <p>
            	Role: {{ pic.role }}<br />
            	Country: {{ pic.country }}<br />
            	Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Current</h3>
	</div>
	<hr />
</div>

<div class="row">
	<div class="nine columns">
		<ul class="block-grid three-up">
      {% for pic in page.past %}
      <li>
        <div class="small-container">
          {% if pic.link != null %}<a href="{{ pic.link }}">{% endif %}<img src="{{ site.baseurl }}/images/current/{{ pic.url }}" alt="{{ pic.company }}">{% if pic.link != null %}</a>{% endif %}
          <div>
            <h5>{{ pic.company }}</h5>
            <p>
            	Role: {{ pic.role }}<br />
            	Country: {{ pic.country }}<br />
            	Info: {{ pic.info }}
            </p>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Past</h3>
		<p>I've had a pretty eclectic career across various geographies and areas: art, tech, commerce and community. Here's a short overview, you can also check out my <a href="http://www.linkedin.com/in/janefinette/">LinkedIn profile</a> for more detail.</p>
	</div>
	<hr />
</div>

<div class="row">
	<div class="nine columns">
		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>
		<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
	</div>
	<div class="three columns text-right pullquote">
		<h3>Other</h3>
	</div>
</div>

<hr />
<div class="text-center">
	<p> Made with <span style="color: red;">&hearts;</span> in Saratoga, CA.
</div>
